In [2]:
import pandas as pd

In [6]:
df = pd.read_csv('./raw_data/open_track2/raw_data.csv')
df.describe()

,game_id,action_id,period_id,time_seconds,team_id,player_id,start_x,start_y,end_x,end_y,dx,dy
count,579306.000000,579306.000000,579306.000000,579306.000000,579306.000000,579305.000000,579306.000000,579306.000000,579306.000000,579306.000000,579306.000000,579306.000000
mean,126380.236524,1468.650566,1.499301,1476.147922,3833.102607,333426.837096,52.792477,34.383346,52.799981,34.388859,0.007504,0.005514
std,56.778999,855.439247,0.500000,891.317358,1377.857136,158692.532854,25.061882,20.303004,25.284071,20.241973,10.834591,9.809462
min,126283.000000,0.000000,1.000000,0.000000,316.000000,61616.000000,0.000000,0.000000,0.000000,0.000000,-92.678376,-67.141772
25%,126331.000000,731.000000,1.000000,697.500250,2354.000000,188266.000000,34.544580,16.780530,34.443806,16.802256,-2.413635,-2.523177
50%,126380.000000,1462.000000,1.000000,1453.450000,4640.000000,354813.000000,52.748535,34.437988,52.791218,34.407830,0.000000,0.000000
75%,126428.000000,2194.000000,2.000000,2241.325000,4646.000000,500145.000000,71.056440,52.176536,71.173095,52.168597,2.405760,2.564399
max,126480.000000,3519.000000,2.000000,3614.467000,4657.000000,534727.000000,105.000000,68.000000,105.000000,68.000000,99.489033,65.665472

In [8]:
match_info_df = pd.read_csv('./raw_data/open_track2/match_info.csv')
match_info_df.head()

,game_id,season_id,competition_id,game_day,game_date,home_team_id,away_team_id,home_score,away_score,venue,competition_name,country_name,season_name,home_team_name,home_team_name_ko,away_team_name,away_team_name_ko
0,126283,3669,587,1,2024-03-01 05:00:00,2354,4639,1,0,문수월드컵경기장,K League 1,KR,2024,Ulsan HD FC,울산 HD FC,Pohang Steelers,포항 스틸러스
1,126284,3669,587,1,2024-03-01 07:30:00,4640,4657,1,1,전주월드컵경기장,K League 1,KR,2024,Jeonbuk Hyundai Motors,전북 현대 모터스,Daejeon Hana Citizen,대전 하나 시티즌
2,126285,3669,587,1,2024-03-02 05:00:00,4648,316,2,0,광주전용구장,K League 1,KR,2024,Gwangju FC,광주FC,FC Seoul,FC서울
3,126286,3669,587,1,2024-03-02 07:30:00,4646,4220,0,1,인천축구전용경기장,K League 1,KR,2024,Incheon United,인천 유나이티드,Suwon FC,수원FC
4,126287,3669,587,1,2024-03-02 07:30:00,4643,4641,1,1,송암스포츠타운 주경기장,K League 1,KR,2024,Gangwon FC,강원FC,Jeju United,제주SK FC

In [12]:
desc_df = pd.read_excel('./raw_data/open_track2/data_description.xlsx', engine='openpyxl')
desc_df.head()

,file_name,column_name,description,data_type,notes
0,raw_data.csv,game_id,경기를 구분하는 고유 ID,int64,NaN
1,raw_data.csv,action_id,경기 내 이벤트 순서,int64,0부터 시작
2,raw_data.csv,period_id,"전/후반 구분 (1: 전반, 2: 후반...)",int64,1부터 시작
3,raw_data.csv,time_seconds,Period 시작 후 지난 시간 (초),float64,NaN
4,raw_data.csv,relative_time_seconds,연관된 이벤트의 발생 시각,float64,NaN